/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

card {
    display: block;
    border: solid 0.5px;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    overflow: hidden;
}

card * {
    display: block;
}

card file-name a {
    font-weight: bold;
    text-decoration-line: none;
}

card file-time,
card file-path {
    font-family: monospace;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-decoration-line: none;
}

card file-warn {
    font-size: 0.8em;
}