/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

ext-file-card {
    display: block;
    border: solid 0.025em;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    max-width: 24em;
    overflow: hidden;
}

ext-file-card * {
    display: block;
}

ext-file-card .file-name a {
    font-weight: bold;
    text-decoration-line: none;
}

ext-file-card .file-time,
ext-file-card .file-path {
    font-family: monospace;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-decoration-line: none;
}

ext-file-card .file-warn {
    font-size: 0.8em;
}
