ext-file-card {
    display: block;
    border: solid 0.025em;
    border-radius: 0.25em;
    margin: 0.5em 0;
    max-width: 24em;
    overflow: hidden;
}

ext-file-card hr {
    border-top: solid 0.025em !important;
}

ext-file-component {
    display: block;
    padding: 0.5em 1em;
}

ext-file-component.compact {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ext-file-component.compact * {
    display: inline;
    text-decoration-line: none;
    padding-right: 0.25em;
}

ext-file-component div.file-name a {
    font-weight: bold;
    text-decoration-line: none;
}

ext-file-component .file-time,
ext-file-component .file-path {
    font-family: monospace;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-decoration-line: none;
}

ext-file-component .file-warn {
    font-size: 0.8em;
}

ext-file-component ul {
    margin: 0 !important;
}

ext-file-component li.file-name {
    font-family: monospace;
    font-size: 0.8em;
}

ext-file-component li.file-name a {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-decoration-line: none;
}